/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

@page {
  margin: 0.5in 0.75in 0.5in 0.75in;
}

h1 {
  font-size: 36px;
}

p, .chorus, .chords {
  font-size: 14px;
  line-height: 1.4;
}

a:link:after, a:visited:after {
    content: "";
}

.container {
  margin: 0;
}

.navbar {
    display: none;
}

footer {
    display: none;
}

/*****************************************************************************/
/*
/* Song List
/*
/*****************************************************************************/

.list__title {
  display: none;
}

.search {
  display: none;
}

.song-list__title {
  display:none;
}

.song-list__icons {
  display:none;
}

.song-list__content {
  width:100% !important;
}

.offcanvas-end {
  border-left: none !important;
}

.list-group {
  margin-bottom: 0;
}

/*****************************************************************************/
/*
/* Songs
/*
/*****************************************************************************/

/* #song {
 text-align: left;
} */

.song__icons {
  display: none;
}

.notes {
  font-style:italic;
  padding-bottom: 10px;
}

.chorus {
	padding-left:1em;
  padding-bottom:1em;
}
