/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: Georgia, Times New Roman, Times, serif;
  padding-left: 5em;
  padding-right: 5em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
  text-decoration: none;
}

a:hover {
  color: #a00;
}

a:visited {
  color: #00a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#home {
	text-align: left;
}

.songs {
	float: left;
	width: 100%;
}

ul.songs {
  list-style-type: none;
}

  ul.songs a {
  	float: left;
  }

  ul.songs span {
    color: #aaa;
    font-family: Courier, monotype;
	float: right;
  }
  .menu {
  	display: none;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

  .site .title a {
    display: none;
}

 .footer {
    display: none;
  }

/*****************************************************************************/
/*
/* Songs
/*
/*****************************************************************************/

#song {
 text-align: left;
}

.select {
    font-family: Georgia, Times New Roman, Times, serif;
}

.date {
	color: #666;
	padding-bottom: .5em;
	font-size: 85%;
}

.notes {font-style:italic;
}

.lyrics {font-family: Georgia, Times New Roman, Times, serif; 
}

.chorus {
	padding-left:1em;
}

.chords {font-family: Courier, monotype;
	padding-top:1em;
}

.song-list-title {
    display:none;
}