/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

a:link:after, a:visited:after {
    content: "";
}

.site .title a {
    display: none;
}

footer {
    display: none;
}

.icons {
  display:none;
}

.breadcrumb {
  display:none;
}

/*****************************************************************************/
/*
/* Song List
/*
/*****************************************************************************/

hr {
  display:none;
}

#song-list .well {
  display:none;
}

.song-list-content {
  width:100%;
}

.list-group {
  margin-bottom: 0;
}

.panel {
  border: none;
  top:0 !important;
}

.panel-body {
  padding: 15px 0;
}

/*****************************************************************************/
/*
/* Songs
/*
/*****************************************************************************/

#song {
 text-align: left;
}

.date {
	color: #666;
	padding-bottom: .5em;
	font-size: 85%;
}

.notes {
  font-style:italic;
  padding-bottom: 10px;
}

.chorus {
	padding-left:1em;
}

.chords {
  /*font-family: Courier, monotype;*/
	padding-top:1em;
}

.song-list-title {
    display:none;
}
