/*****************************************************************************/
/*
/* Songs
/*
/*****************************************************************************/

.song-list__song .notes, .song .notes {
  font-style:italic;
  padding-bottom: 10px;
}

.song-list__song .chorus, .song .chorus {
	padding:0 0 1rem 1rem;
}

.song-list__song .chords, .song .chords {
  font-family: 'Courier New', Courier, monospace;
}

.song-list__title h2 {
  font-size: 1rem;
}

.song-list__content {
  width: 66% !important;
  overflow: auto;
}

.song-list__icons, .song .icons {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .song-list__song .chords {
    position: absolute;
    right: 1rem;
    top: 5rem;
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  .song-list__content .row {
    flex-direction: column-reverse;
  }
}