---
layout: default
title: songs.hillelarnold.com &raquo; finished
---
<div class="song-list">
  <div class="song-list-left"> {% for post in site.categories.finished %} 
    <div class="song-list-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </div> {% endfor %} </div>
  <div class="song-list-center"> {% for post in site.categories.finished %} 
    <div class="content" style="display:none">
      <div class="song-list-content">{{ post.content }}</div>
    </div> {% endfor %} </div>
  <div class="song-list-right"> {% for post in site.categories.finished %} 
    <div class="song-list-date">{{ post.date | date_to_string }}</div> {% endfor %} </div>
</div>
