<nav class="navbar navbar-expand-lg border-bottom mb-3" mdata-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">songs.hillelarnold.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/Incomplete">Incomplete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/finished">Finished</a>
            </li>
        </ul>
        </div>
    </div>
</nav>