---
title: Water Freezes This July
date: 1998-01-01
layout: song
---
water freezes this july<br />
burning kisses fall from the sky<br />
humanity sinks out of sight<br />
the sun's caresses give way to night<br />
<br />
in africa the desert's frozen<br />
artic water boils to the yellow skies<br />
noah's ark is slowly sinking<br />
this world we've blown is lost to our eyes<br />
<br />
last night I heard the screaming <br />
went outside to watch them fall from the sky<br />
tonight I hear the screaming<br />
of a world that's not quite ready to die<br />
<br />
it's because we loved our children<br />
it's because we had to keep up with someone else<br />
it's because we need inventory<br />
this is our final love song for the earth<br />
<br />
<div class="chorus">BRIDGE:<br />
this ain't no hippie thing<br />
love your mother, hug a tree<br />
if there's nothing to wake up to tomorrow<br />
it's gonna be a hell of a long sleep</div>
<br />
it's because we loved our children<br />
it's because we had to keep up with someone else<br />
it's because we need inventory<br />
this is our final love song for the earth
<div class="chords">VERSE:<br />
e--2-3-3-0-2-<br />
B--3-3-3-2-3-<br />
G--2-2-0-2-2-<br />
D--0-0-0-2-0-<br />
A--x-x-2-0-x-<br />
E--x-x-3-0-x-<br />
<br />
BRIDGE: Drop D tuning<br />
e------2------0------2------------<br />
B------3------3------3------------<br />
G------2------0------2------------<br />
D---------------------------------<br />
A---------------------------------<br />
D--0-0----2-2----0-0----5-7-5-4p2-</div>