---
title: Drift
date: 2002-01-01
layout: song
---
She said it’s cold in here as she pulled the blankets up to her chin<br />
I rolled over and fell off the edge into the sea of my sin<br />
Captain oh my captain I am caught adrift<br />
No stars to guide this sailor home no wind these sails to lift<br />
<br />
She said she’d known all along or at least a couple of days<br />
I never meant to be telling a lie so maybe I wanted to fail<br />
Tell me oh my brother where the current flows<br />
I can feel I am in motion where it leads to I don’t know

<div class="chorus">If we could only swim<br />
Under this sea of fire<br />
We could keep our sins from turning to stone<br />
But the rivers have run dry</div>


