---
title: Six Feet Under
date: 2003-02-06
layout: songs
---
A liar is the worst kind of coward and I have been that<br />
A fool dies a thousand deaths and I have died some<br />
But I was not a fool or a liar for you I tried to deceive myself<br />
And now I am through with all this shit<br />
And happiness is not my goal

<div class="chorus">You are as dead as Jacob Marley<br />
You are as dead as a night on the sound<br />
You are dead and I don’t mind saying<br />
You are six feet under the ground</div>

You said to leave the past behind me and I have done that<br />
You said to do what makes me happy and I have been some<br />
But I was not about to leave what I have cursed and sweated for<br />
And now I am through with playing mind games<br />
And speaking in shifting codes

<div class="chorus">You are as dead as Jacob Marley<br />
You are as dead as a night on the sound<br />
You are dead and I don’t mind saying<br />
You are six feet under the ground</div>

