---
title: Walking Miracle
date: 2002-06-15
layout: song
---
What did you<br />
Come out to see<br />
A man with a tongue like the wind<br />
A resurrection<br />
<br />
Ash in wind<br />
Bullets in the debris<br />
Will the future appear as the past<br />
Are we bound to repeat<br />

<div class="chorus">The longing of a fair maiden behind moat protected walls<br />
The prayers rising to heaven as evening shadows fall</div>

Home from war<br />
Wounded soldier walks<br />
In what is done and what is seen<br />
Forgotten how to talk<br />

<div class="chorus">And what do those who are left behind do when their loved ones come home<br />
Is there more than a smile or a kiss or a hastily muttered hello</div>

There’s no harm<br />
In telling tales of war<br />
But the future cannot be the past<br />
Bathed in blood and gore<br />
<br />
To all those<br />
Who at the tomb now stand<br />
Rise up and walk like Lazarus<br />
Take up your cross and dance<br />

<div class="chorus">And the ghosts that haunt this land are that and no more<br />
The lives that now are lived are worthy of those before</div>

Dare to dream<br />
Endure memory<br />
Do you have courage to create<br />
Or just destroy

<div class="chorus">I know you’re not my saviour because mine has wounded hands<br />
I know you’re not the one to be led to slaughter like the lambs</div>

What did you<br />
Come out to see<br />
A man with a body covered in scars<br />
A walking miracle