<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'/>
   <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans' rel='stylesheet' type='text/css'/>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Hillel Arnold" />
   <meta name="viewport" content="width=device-width,initial-scale=1"/>

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="http://songs.hillelarnold.com/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="http://songs.hillelarnold.com/css/print.css" type="text/css" media="print" />
   <script type="text/javascript" src="http://songs.hillelarnold.com/script/jquery-1.9.1.min.js"></script>
   <script type="text/javascript" src="http://songs.hillelarnold.com/script/dropdown.js"></script>   
   </head>
<body>
<div class="site">
  <div class="header">
  <div class="title">
    <div class="text"><a href="/">songs.hillelarnold.com</a></div>
  </div>
  <div class="menu">
    <div class="nav">
   <a href="{{ site.url }}/finished.html">finished</a> | 
  	<a href="{{ site.url }}/incomplete.html">in progress</a>
  </div>
  <div class="nav-mini">
    <div class="menu">
        <div id="menutitle"><a href="#">&#9776;</a></div>

    </div>
    <div id="showDiv" class="showdiv">
      <div class="arrowup"></div>
        <div class="showitem"><a href="{{ site.url }}/finished.html">finished</a></div>
        <div class="clear"></div>
        <div class="showitem"><a href-"{{ site.url }}/incomplete.html">in progress</a></div>
    </div>
  </div>
</div>
</div>
  {{ content }}
  
  <div class="footer">
        <div class="footer-left"><div class="text">All songs licensed by <a href="http://www.hillelarnold.com">Hillel Arnold</a> under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a></div></div><div class="footer-right"> <img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" alt="Creative Commons BY-SA License"/></div>
  </div>
</div>

</body>
</html>