<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'/>
   <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans' rel='stylesheet' type='text/css'/>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Hillel Arnold" />
   <meta name="viewport" content="width=device-width,initial-scale=1"/>

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
   <link rel="stylesheet" href="http://songs.hillelarnold.com/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="http://songs.hillelarnold.com/css/print.css" type="text/css" media="print" />
   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
   <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
   <script type="text/javascript" src="http://songs.hillelarnold.com/script/dropdown.js"></script>
   <script type="text/javascript" src="http://songs.hillelarnold.com/script/modal.js"></script>
   </head>
<body>
<div class="home">
  <div class="song-title">
    {{ page.title }}
  </div>
  <div class="song-date">
    {{ page.date | date_to_string }}
  </div>
  <div class="lyrics">
    {{ content }}
  </div>
</div>
</html>
